.lanes {
  align-items: flex-start;
  gap: 10px;
  padding: 2% 0% 0% 5%;
  height: 100%;
}

.swim-lane {
  background: #1e656d;
  padding: 5px;
  border-radius: 20px;
  min-height: 100px;
  margin-bottom: 10px;
}

.card-header {
    background-color: #00293c;
    padding: 5px;
}

.heading {
  color: white;
  margin-bottom: 2px;
}

.card-footer {
    background-color: white;
    padding: 4px;
}

.modal-content {
  background-color: #d4dde1;
  color: black;
}
